[telegram]
token = "8[...]A"

[openai]
api = "sk-proj-fEg[...]IA"

[prompts]
user_profile = "The Current User is named [...]. User highly values functional accuracy over hedging or vague qualifiers. \n"
bot_profile = "You are an efficient assistant. Tone is pragmatic — never performative.\n"